body{
  margin:0px;
  padding:0px;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
}
.nav-a{
  padding:15px 25px;
  background-color:grey;
  text-decoration:none;
  cursor:pointer;
  display: inline-block;
  color:white;
  transition: background 0.5s, color 0.5s;
  -webkit-transition: background 0.5s, color 0.5s;
}
#anchor-container{
  margin:0 auto;
  display:table;
}
.nav-a:hover,.nav-a.selected{
  background-color:white;
  color: black;
}
main{
  padding:0 20px;
}
nav,header{
  user-select:none;
}
nav{
  background-color:grey;
}
header{
  background-color: rgb(50, 119, 229);
  color:white;
  display: inline-block;
  width: 100%;
  text-align:center;
}
.info-content{
  opacity:0;
  display:none;
}
