body{
  margin:0px;
  padding:0px;
}
.nav-a{
  padding:10px 20px;
  background-color:grey;
  text-decoration:none;
  display: inline-block;
  color:white;
}
.nav-a:hover{
  background-color:white;
  color: black;
}
nav{
  background-color:grey;
  width:100%;
}
